.Dropdown-menu {
  padding: 8px;
  background: @body-bg;
  border: 1px solid fade(@text-color, 12%);
  border-radius: @border-radius;
  box-shadow: @asirem-box-shadow;

  > li {
    > a, > button, > span {
      border-radius: (@border-radius - 2);
    }
  }
}
