@border-radius:                   12px;
@asirem-border-radius-a:          @border-radius;
@asirem-border-radius-b:          @border-radius;
@asirem-border-radius-c:          @border-radius;

.define-asirem-colors(@config-dark-mode);
.define-asirem-colors(false) {
  @primary-bg:                    mix(@body-bg, @primary-color, 84);
  @control-bg-light:              lighten(@control-bg, 2);

  @unapproved-discussion-bg:      #fdddc2;
}
.define-asirem-colors(true) {
  @primary-bg:                    mix(@body-bg, @primary-color, 80);
  @control-bg-light:              lighten(@control-bg, 4);

  @unapproved-discussion-bg:      #1f1914;
}

.define-asirem-header(@config-colored-header);
.define-asirem-header(false) {
  @admin-nav-bg:                  @body-bg;
  @admin-nav-color:               @control-color;
}
.define-asirem-header(true) {
  @admin-nav-bg:                  @body-bg;
  @admin-nav-color:               @control-color;
}

@asirem-box-shadow:               0 10px 30px -22px fade(#000, 75%);

@screen-desktop-hd:               1200px;
