@import "common/common.less";

// Skeleton "nosh" palette mapping for both light/dark.
// Only primary keeps user customization via @config-primary-color.
.define-colors(false) {
  @primary-color:                  @config-primary-color;

  @secondary-color:                #e7c6c2;
  @body-bg:                        #f7f7f7;
  @text-color:                     #181818;
  @link-color:                     @primary-color;
  @heading-color:                  @text-color;
  @muted-color:                    #7f7f7f;
  @muted-more-color:               #949494;
  @shadow-color:                   rgba(0, 0, 0, 0.25);

  @control-bg:                     #f7f7f7;
  @control-border-color:           #c5c5c5;
  @control-color:                  #676767;
  @control-danger-bg:              #f0c2bb;
  @control-danger-color:           #7c3023;

  @overlay-bg:                     fade(#181818, 85%);

  @code-bg:                        #ededed;
  @code-color:                     #3a3a3a;
}

.define-colors(true) {
  @primary-color:                  @config-primary-color;

  @secondary-color:                #8d8d8d;
  @body-bg:                        #181818;
  @text-color:                     #f7f7f7;
  @link-color:                     @primary-color;
  @heading-color:                  @text-color;
  @muted-color:                    #d0d0d0;
  @muted-more-color:               #a8a8a8;
  @shadow-color:                   rgba(0, 0, 0, 0.55);

  @control-bg:                     #030303;
  @control-border-color:           #333333;
  @control-color:                  #d2d2d2;
  @control-danger-bg:              #4a2520;
  @control-danger-color:           #f0c2bb;

  @overlay-bg:                     fade(#111111, 90%);

  @code-bg:                        #222222;
  @code-color:                     #f1f1f1;
}

@import "forum/App.less";
@import "forum/DiscussionList.less";
@import "forum/Hero.less";
@import "forum/Post.less";
@import "forum/TagsPage.less";
@import "forum/sideNav.less";
@import "forum/Footer.less";
