.AdminPage:not(.AppearancePage) .Form-group,
.AppearancePage fieldset {
  background: @body-bg;
  padding: 25px;
  border-radius: @border-radius;
  border: 1px solid fade(@text-color, 12%);

  .Button {
    --control-bg: @control-bg;

    &--primary {
      --control-bg: @primary-color;
    }
  }
}
