.App {
  padding-bottom: 18px;

  &-footer {
    &:empty {
      display: none;
    }
  }
}

@media @tablet-up {
  .App {
    display: flex;
    flex-direction: column;

    &-content {
      flex-grow: 1;
      border-top: 0;
      padding-top: 14px;
      background:
        radial-gradient(at 0% 0%, fade(@control-bg, 33%) 0, transparent 52%),
        radial-gradient(at 2% 2%, fade(@control-danger-bg, 28%) 0, transparent 48%),
        radial-gradient(at 15% 10%, fade(@primary-color, 12%) 0, transparent 58%);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
  }

  .container {
    padding: 0 16px;
  }

  .sideNavContainer {
    margin-top: 14px;
    gap: 14px;
  }
}
