.Post {
  margin: 0 0 15px 0;
  background: @control-bg;
  border-radius: @border-radius;
  border: 1px solid fade(@text-color, 10%);
}

.PostStream-item {
  &:not(:last-child) {
    border-bottom: none;
  }
}

.ReplyPlaceholder {
  margin-top: 30px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.EventPost {
  background-color: transparent;

  .Post-footer {
    display: none;
  }
}

.EventPost .Post-actions, .Post--hidden:not(.revealContent) .Post-actions {
  margin-top: -30px;
}
